.bgImg{
    background-image: url("../img/fondo.jpg");
}
.txtCP{
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.59);
    border-radius: 30px;
    border : 2px rgba(255, 255, 255, 0.505) solid;
}